
section {
  padding-top: 4rem;
}

.txt-heading{
  margin-top: 100px;
}

.btn{
  margin-bottom: 50px;
}

.nav-item a:hover {
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.212);
  border: 1px solid white;
}

.nav-item a:active {
  background-color: rgba(211, 200, 200, 0.212);
}

@media all and (max-width: 1000px) {
  .img-logo{
    width: 550px;
  }
}

@media all and (max-width: 670px) {
  .img-logo{
    width: 385px;
  }
}

@media all and (max-width: 450px) {
  .img-logo{
    width: 323px;
  }
}

@media all and (max-width: 380px) {
  .img-logo{
    width: 283px;
  }
}